<p id="notice"><%= notice %></p>

<h1>Estudiantes</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Rut</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido Parterno</th>
      <th scope="col">Apellido Materno</th>
      <th scope="col">Código Alumno</th>
      <th scope="col">Descripción Curso</th> 
      <th colspan="1"></th>  
    </tr>
  </thead>

  <tbody>
    <% @estudiantes.each do |estudiante| %>
      <tr>
        <td scope="row"><%= estudiante.rut %></td>  
        <td><%= estudiante.nombre %></td>  
        <td><%= estudiante.apellido_pat %></td>  
        <td><%= estudiante.apellido_mat %></td>  
        <td><%= estudiante.curso_id %></td>  
        <td><%= estudiante.curso.plan_formativo.descripcion %></td>   
        <td><%= link_to 'Ver', estudiante, class: 'btn btn-outline-success my-2 my-sm-0' %></td>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>