<p id="notice"><%= notice %></p>

<h1>Curso Modulo Tutors</h1>

<table>
  <thead>
    <tr>
      <th>Modulo</th>
      <th>Tutor</th>
      <th>Curso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @curso_modulo_tutors.each do |curso_modulo_tutor| %>
      <tr>
        <td><%= curso_modulo_tutor.modulo_id %></td>
        <td><%= curso_modulo_tutor.tutor_id %></td>
        <td><%= curso_modulo_tutor.curso_id %></td>
        <td><%= link_to 'Show', curso_modulo_tutor %></td>
        <td><%= link_to 'Edit', edit_curso_modulo_tutor_path(curso_modulo_tutor) %></td>
        <td><%= link_to 'Destroy', curso_modulo_tutor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Curso Modulo Tutor', new_curso_modulo_tutor_path %>
